<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis odit repellendus corrupti est ea consectetur ab culpa molestiae, voluptate, quod sint similique enim, optio ducimus nam possimus ut modi beatae.</p>
    </span>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfilFoto.jpeg" class="img-fluid" id="fotodeperfil">
  </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}}"sofi"{{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
    </div>
</div>
