<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
        <li><h1>Trabajo 1</h1> -
        <h3>(years)</h3></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi nemo veniam aliquid, distinctio ducimus minus possimus sit reiciendis facere repellat cumque magni numquam in atque! Reiciendis quam quod doloremque quo.</p>
        <li><h1>Trabajo 2</h1> -
          <h3>(years)</h3></li>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi nemo veniam aliquid, distinctio ducimus minus possimus sit reiciendis facere repellat cumque magni numquam in atque! Reiciendis quam quod doloremque quo.</p>
          <li><h1>Trabajo 3</h1> -
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi nemo veniam aliquid, distinctio ducimus minus possimus sit reiciendis facere repellat cumque magni numquam in atque! Reiciendis quam quod doloremque quo.</p>
      </ul>
  </div>
</div>
