<div class="row">
  <div class="container">
      <div class="logo">
      <img src="../../../assets/ArgentinaProgramaLogo.png" id="logoAP">
      </div>
    <div class="redes">
        <a href=""><img src="../../../assets/GitHubLogo.png" alt=""></a>
        <a href=""><img src="../../../assets/Facebook.png" alt=""></a>
        <a href=""><img src="../../../assets/Gmail.png" alt=""></a>
        <a href=""><img src="../../../assets/InstagramLogo.png" alt=""></a>
        <button type="button" class="btn btn-outline-light">Ingreso</button>
    </div>
  </div>
</div>

